
@model IMDB.ViewModels.EditProfile
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=Edge" />
<meta name="viewport" content="width=device-width , initial-scale = 1.0" />
<title>Edit Profile</title>
<link rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css">
<!-- Link Swiper's CSS -->
<link rel="stylesheet"
      href="https://unpkg.com/swiper/swiper-bundle.min.css" />
<link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&family=Ubuntu:wght@300&display=swap" rel="stylesheet">
<head>
    <style>
        html * {
            font-size: 20PX !important;
            font-family: 'Ubuntu', sans-serif;
        }

        body {
            background: var(--text-color);
            color: var(--bg-color);
            box-sizing: border-box;
            list-style: none;
            text-decoration: none;
        }

        :root {
            --bg-color: white;
            --text-color: black;
            --main-color: red;
        }

        header {
            width: 100%;
            top: 0;
            right: 0;
            z-index: 1000;
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 20px 100px;
            transition: 0.5s;
            box-sizing: border-box;
            border-bottom: 2px solid red;
        }

        .navbar {
            margin-left: 12%;
            display: flex;
            column-gap: 5rem;
            box-sizing: border-box;
            list-style: none;
            text-decoration: none;
        }

            .navbar li {
                position: relative;
                box-sizing: border-box;
                list-style: none;
                text-decoration: none;
            }

            .navbar a {
                font-size: 1rem;
                font-weight: 500;
                color: var(--bg-color);
                box-sizing: border-box;
                list-style: none;
                text-decoration: none;
            }

                .navbar a::after {
                    content: '';
                    width: 0;
                    height: 2px;
                    background: var(--main-color);
                    position: absolute;
                    bottom: -4px;
                    left: 0;
                    transition: 0.4s all linear;
                    box-sizing: border-box;
                    list-style: none;
                    text-decoration: none;
                }

                .navbar a:hover::after,
                .navbar .home-active::after {
                    width: 100%;
                    box-sizing: border-box;
                    list-style: none;
                    text-decoration: none;
                }

        #menu-icon {
            cursor: pointer;
            z-index: 1000001;
            display: none;
            box-sizing: border-box;
            list-style: none;
            text-decoration: none;
        }

        .btn {
            padding: 0.7rem 1.4rem;
            background: var(--main-color);
            color: var(--bg-color);
            font-weight: 400;
            border-radius: 0.5rem;
            box-sizing: border-box;
            list-style: none;
            text-decoration: none;
        }

            .btn:hover {
                background: #9b0d0f;
                box-sizing: border-box;
                list-style: none;
                text-decoration: none;
            }

        .logo {
            font-size: 24px;
            font-weight: 600;
            color: var(--bg-color);
            display: flex;
            align-items: center;
            column-gap: 0.5rem;
            box-sizing: border-box;
            list-style: none;
            text-decoration: none;
        }

            .logo.bx {
                font-size: 24px;
                color: var(--main-color);
                box-sizing: border-box;
                list-style: none;
                text-decoration: none;
            }

        .div1 {
            position: absolute;
            background-color: black;
            width: 1360px;
            height: 600px;
            margin-left: 250px;
            margin-top: 7.5%;
            border-radius: 40px 0px 40px 0px;
            padding: 20px;
            border-color: var(--main-color);
            border-style: solid;
            border-width: 2px;
        }

        .sign {
            margin-left: 370px;
            font-size: 30px;
            font-weight: bold;
        }

        .div3, .div4, .div5, .div6, .div10, .div {
            margin-left: 50px;
        }

        a {
            text-decoration: none;
        }

        .div8 {
            border: 0.5px solid #999;
            width: 0px;
            height: 500px;
            margin-top: -420px;
            margin-left: 850px;
            border-color: var(--bg-color);
            border-style: solid;
        }

        .div9 {
            margin-left: 925px;
            width: 300px;
        }

        input {
            background-color: var(--text-color);
            width: 300px;
            border: none;
            border-bottom: 1px solid white;
            padding: 11px 20px 11px 50px;
            outline: none;
            color: white;
        }

        .icon1 {
            position: absolute;
            margin-left: 7px;
            margin-top: 05px;
        }

        .icon2 {
            position: absolute;
            margin-left: 7px;
            margin-top: 05px;
            font-size: 1px;
        }

        img {
            width: 30px;
        }

        .update {
            border: none;
            outline: 0;
            display: inline-block;
            padding: 8px;
            color: white;
            background-color: #000;
            text-align: center;
            cursor: pointer;
            width: 100%;
            font-size: 18px;
            height: 70px;
        }

        .div6 label {
            margin-left: 90px;
        }

        .p {
            position: absolute;
            font-size: smaller;
            width: 250px;
            margin-left: -300px;
            margin-top: 50px;
            height: 0px;
            color: white;
        }

        ::placeholder {
            color: white;
            opacity: 1;
        }

        .profile {
            margin-left: 1000px;
            margin-top: -490px;
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
            max-width: 250px;
            text-align: center;
            border-color: white;
            border-style: solid;
        }

        .date {
            color: black;
            --text-color: white;
        }

        .favourite-btn {
            float: right;
        }
    </style>
</head>

<body>
    @using (Html.BeginForm("EditProfile", "User", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        @Html.HiddenFor(model => model.User.User_ID)
        @Html.HiddenFor(model => model.User.Birthday)
        @Html.HiddenFor(model => model.User.Gender)
        @Html.HiddenFor(model => model.User.ConfirmEmail)
        @Html.HiddenFor(model => model.User.ConfirmPassword)
        <header>
            <a href="#" class="logo">

                <i class='bx bxl-imdb'></i> IMDB
            </a>
            <div class="bx bx-menu" id="menu-icon"></div>
            <!--Menu-->
            <ul class="navbar">
                <li> <a href="#home" class="home-active">Edit Profile</a></li>
                <li> @Html.ActionLink("Movies", "Index", "Admin")</li>
                <li> @Html.ActionLink("Actors", "Actors", "Admin")</li>
                <li> @Html.ActionLink("Directors", "Directors", "Admin")</li>
            </ul>

        </header>
        <div class="div1">
            <div class="div2">
                <p class="sign">User Setting</p>
            </div>

            <br>
            <br>

            <div class="div3">

                <i class="icon1"> <img src="~/ViewAssets/id-card.png" alt="logo"></i>

                @Html.EditorFor(Model => Model.User.Fname, new { @class = "input" })
                <i class="icon2"> <img src="~/ViewAssets/id-card.png" alt="logo"></i>
                @Html.EditorFor(Model => Model.User.Lname, new { @class = "input" })


            </div>
            <br><br>
            <div class="div4">

                <i class="icon1"> <img src="~/ViewAssets/mail (2).png" alt="logo"></i>

                @Html.EditorFor(Model => Model.User.Email, new { @class = "input" })

                <i class="icon1"> <img src="~/ViewAssets/lock (1).png" alt="logo"></i>

                @Html.EditorFor(Model => Model.User.Password, new { @class = "input" })

            </div>
            <br><br>

            <div class="div">

                <i class="icon1"> <img src="~/ViewAssets/add-image-white.png" alt="logo"></i>
                <input id="file" name="file" type="file" class="text-danger" required />


            </div>
            <br> <br>

            <div class="div">


                <input type="submit" value="Save" class="btn" />

            </div>


            <br>
            <br>



            <div class="div8">

            </div>
            <div class="profile">
                <img src="@Url.Content("~/Images/"+Model.User.Image)" alt="" style="width:100% " />
                <h1>@Model.User.Fname @Model.User.Lname</h1>

                <p>
                    @Html.ActionLink("favourites", "Favourites", "User", new { id = Session["Userid"] }, new { controller = "User" })
                            </p>

            </div>

            <div class="profile">


            </div>

        </div>
    }
</body>
</html>