@{
    Layout = null;
}


@model IMDB.Models.User
<!DOCTYPE html>
<html>
<head>
    <title>SignUp</title>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&family=Ubuntu:wght@300&display=swap" rel="stylesheet">
    <style>
        html * {
            font-family: 'Ubuntu', sans-serif;
        }

        body {
            background-color: black;
            width: 50px;
            height: auto;
            margin-left: 10%;
            padding: 10px;
        }

        .div1 {
            position: absolute;
            background-color: white;
            width: 1360px;
            height: 600px;
            box-shadow: 0 0 35px rgba(0, 0, 0, 0.1);
            margin-left: 50px;
            margin-top: 7.5%;
            border-radius: 40px 0px 40px 0px;
            padding: 20px;
        }

        .sign {
            margin-left: 370px;
            font-size: 30px;
            font-weight: bold;
        }

        .div3, .div4, .div5, .div6, .div10 {
            margin-left: 50px;
        }

        a {
            text-decoration: none;
        }

        .div8 {
            border: 0.5px solid #999;
            width: 0px;
            height: 500px;
            margin-top: -500px;
            margin-left: 850px;
        }

        .div9 {
            margin-left: 1000px;
            width: 250px;
        }

        input {
            width: 300px;
            border: none;
            border-bottom: 1px solid #999;
            padding: 11px 20px 11px 50px;
            outline: none;
        }


        .icon1 {
            position: absolute;
            margin-left: 7px;
            margin-top: 05px;
        }

        .icon2 {
            position: absolute;
            margin-left: 7px;
            margin-top: 05px;
            font-size: 1px;
        }

        img {
            width: 30px;
        }

        .buttonsignup {
            background-color: #080c0b;
            border: none;
            cursor: pointer;
            padding: 20px 70px 20px 70px;
            font-weight: bold;
            margin-top: 70px;
            margin-left: 100px;
            color: honeydew;
        }

        .buttonlogin {
            background-color: red;
            border: none;
            cursor: pointer;
            padding: 20px 70px 20px 70px;
            font-weight: 0;
            font-weight: bold;
            margin-top: 0px;
            margin-left: 250px;
            color: honeydew;
        }

        .or {
            position: absolute;
            margin-top: -265px;
            margin-left: 840px;
            background-color: #f7f7f7;
            font-weight: bold;
        }

        .div6 label {
            margin-left: 90px;
        }



        .p {
            position: absolute;
            font-size: smaller;
            width: 250px;
            margin-left: -300px;
            margin-top: 50px;
            height: 0px;
            color: #ec2716;
        }
    </style>
    <script src="sign.js"></script>
</head>

<body>
    @using (Html.BeginForm("SignUp", "User", null, FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        @Html.AntiForgeryToken()

        <div class="div1">
            <div class="div2">
                <p class="sign">Sign Up</p>
            </div>



            <div class="div3">

                <i class="icon1"> <img src="~/ViewAssets/id-card.png" alt="logo"></i>

                @Html.TextBoxFor(Model => Model.Fname, new { placeholder = "First Name", @class = "input" })
                @Html.ValidationMessageFor(model => model.Fname, "", new { @class = "p" })


                <i class="icon2"> <img src="~/ViewAssets/id-card.png" alt="logo"></i>

                @Html.TextBoxFor(Model => Model.Lname, new { placeholder = "Second Name", @class = "input" })
                @Html.ValidationMessageFor(model => model.Lname, "", new { @class = "p" })

            </div>
            <br><br>
            <div class="div4">

                <i class="icon1"> <img src="~/ViewAssets/mail (2).png" alt="logo"></i>

                @Html.TextBoxFor(Model => Model.Email, new { placeholder = "Email", @class = "input" })
                @Html.ValidationMessageFor(model => model.Email, "", new { @class = "p" })
                <i class="icon1"> <img src="~/ViewAssets/mail (2).png" alt="logo"></i>

                @Html.TextBoxFor(m => m.ConfirmEmail, new { @class = "input ", placeholder = "Confirm Email" })
                @Html.ValidationMessageFor(model => model.ConfirmEmail, "", new { @class = "p" })
            </div>
            <br> <br>
            <div class="div5">
                <i class="icon1"> <img src="~/ViewAssets/lock (1).png" alt="logo"></i>
                @Html.TextBoxFor(Model => Model.Password, new { @class = "input", @type = "password", placeholder = "Password", })
                @Html.ValidationMessageFor(model => model.Password, "", new { @class = "p" })

                <i class="icon1"> <img src="~/ViewAssets/lock (1).png" alt="logo"></i>
                @Html.TextBoxFor(m => m.ConfirmPassword, new { @class = "input ", @type = "password", placeholder = "Confirm Password" })
                @Html.ValidationMessageFor(model => model.ConfirmPassword, "", new { @class = "p" })

            </div>
            <br>
            <br>
            <div class="div6">
                <i class="icon1"> <img src="~/ViewAssets/calendar.png" alt="logo"></i>
                @Html.TextBoxFor(model => model.Birthday, new { @type = "date" })
                @Html.ValidationMessageFor(model => model.Birthday, "", new { @class = "p" })

                <i class="icon1"> <img src="~/ViewAssets/add-image.png" alt="logo"></i>
                <input id="file" name="file" type="file" class="text-danger" />

            </div>
            <br>
            <br>

            <div class="div10">

                <img class="male" src="~/ViewAssets/male.png" alt="male">
                <label>Male</label>
                @Html.RadioButtonFor(m => m.Gender, "Male", new { @class = "input" })
                @Html.ValidationMessageFor(model => model.Gender, "", new { @class = "p" })

                <img class="female" src="~/ViewAssets/woman.png" alt="female">
                <label>Female</label>
                @Html.RadioButtonFor(m => m.Gender, "Female", new { @class = "input" })
                @Html.ValidationMessageFor(model => model.Gender, "", new { @class = "p" })

            </div>
            <div class="div7">
                <button class="buttonsignup" type="submit" value="SignUp">
                    SIGN UP
                </button>
                <a>
                    @Html.ActionLink("Login", "Login", "Users", new { @class = "buttonlogin" })


                </a>
            </div>


            <div class="div8">

            </div>

        </div>
    }
</body>
</html>